 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 76px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2014px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: 20px auto 0 113px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: -36px 113px 0 auto;
}

.u-section-2 .u-list-1 {
  width: 553px;
  margin: 28px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 747px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  text-decoration: none solid rgb(17, 17, 17);
  line-height: 1;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-4 {
  text-decoration: none solid rgb(17, 17, 17);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 6px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 3px 0 0;
}

.u-section-2 .u-image-1 {
  height: 50px;
  width: 100%;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 5px 0 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-text-7 {
  font-style: normal;
  text-decoration: none solid rgb(17, 17, 17);
  line-height: 1;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-8 {
  text-decoration: none solid rgb(17, 17, 17);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 6px 0 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 3px 0 0;
}

.u-section-2 .u-image-2 {
  height: 50px;
  width: 100%;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 5px 0 0;
}

.u-section-2 .u-list-2 {
  width: 553px;
  margin: -747px 0 60px auto;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 1881px;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-2 .u-text-11 {
  font-style: normal;
  text-decoration: none solid rgb(17, 17, 17);
  line-height: 1;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 1px 0 2px;
}

.u-section-2 .u-text-12 {
  text-decoration: none solid rgb(17, 17, 17);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 0 0 2px;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 2px 0;
}

.u-section-2 .u-image-3 {
  height: 50px;
  margin: 11px 0 0;
}

.u-section-2 .u-text-14 {
  margin: 5px 1px 0;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 18px;
}

.u-section-2 .u-text-15 {
  font-style: normal;
  text-decoration: none solid rgb(17, 17, 17);
  line-height: 1;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 1px 0 2px;
}

.u-section-2 .u-text-16 {
  text-decoration: none solid rgb(17, 17, 17);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 0 0 2px;
}

.u-section-2 .u-text-17 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 2px 0;
}

.u-section-2 .u-image-4 {
  height: 50px;
  margin: 11px 0 0;
}

.u-section-2 .u-text-18 {
  margin: 5px 1px 0;
}

.u-section-2 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 18px;
}

.u-section-2 .u-text-19 {
  font-style: normal;
  text-decoration: none solid rgb(17, 17, 17);
  line-height: 1;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 1px 0 2px;
}

.u-section-2 .u-text-20 {
  text-decoration: none solid rgb(17, 17, 17);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 0 0 2px;
}

.u-section-2 .u-text-21 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 2px 0;
}

.u-section-2 .u-image-5 {
  height: 50px;
  margin: 11px 0 0;
}

.u-section-2 .u-text-22 {
  margin: 5px 1px 0;
}

.u-section-2 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 18px;
}

.u-section-2 .u-text-23 {
  font-style: normal;
  text-decoration: none solid rgb(17, 17, 17);
  line-height: 1;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 1px 0 2px;
}

.u-section-2 .u-text-24 {
  text-decoration: none solid rgb(17, 17, 17);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 0 0 2px;
}

.u-section-2 .u-text-25 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 2px 0;
}

.u-section-2 .u-image-6 {
  height: 50px;
  margin: 11px 0 0;
}

.u-section-2 .u-text-26 {
  margin: 5px 1px 0;
}

.u-section-2 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 18px;
}

.u-section-2 .u-text-27 {
  font-style: normal;
  text-decoration: none solid rgb(17, 17, 17);
  line-height: 1;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 1px 0 2px;
}

.u-section-2 .u-text-28 {
  text-decoration: none solid rgb(17, 17, 17);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 0 0 2px;
}

.u-section-2 .u-text-29 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 2px 0;
}

.u-section-2 .u-image-7 {
  height: 50px;
  margin: 11px 0 0;
}

.u-section-2 .u-text-30 {
  margin: 5px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2832px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 1977px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -1993px;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 1968px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-list-2 {
    margin-top: -2705px;
    margin-right: auto;
    margin-bottom: 66px;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 1978px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2933px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1980px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 1967px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 847px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 100px;
  }

  .u-section-2 .u-list-2 {
    margin-top: -2804px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3367px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 2285px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -2294px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 2276px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 982px;
  }

  .u-section-2 .u-image-1 {
    height: 62px;
  }

  .u-section-2 .u-image-2 {
    height: 62px;
  }

  .u-section-2 .u-list-2 {
    margin-top: -3248px;
    margin-bottom: 493px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-20 {
    margin-left: 0;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-24 {
    margin-left: 0;
  }

  .u-section-2 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-26 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-27 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-28 {
    margin-left: 0;
  }

  .u-section-2 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    height: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-30 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-block-ab12-14:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-14:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-14:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-10:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-10:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-10:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-23:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-24:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-33:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-33:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-33:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-37:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-40:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-40:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-40:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-44:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-47:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-47:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-47:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-51:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-54:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-54:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-54:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-58:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-65:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-72:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-75:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-75:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-75:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-79:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-82:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-82:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-82:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-86:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-89:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-89:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-89:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]).u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  font-weight: bold !important;
  color: #0cbcf5 !important;
}

.u-block-ab12-93:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}.u-section-3 .u-sheet-1 {
  min-height: 685px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  text-decoration: none solid rgb(17, 17, 17);
  margin: 20px auto 0 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 547px;
  margin-top: 22px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 492px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: 20px 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 28px;
  margin-bottom: 60px;
  margin-left: 20px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 19px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  margin: 13px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 19px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  object-position: 44.77% 0%;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  font-style: italic;
  font-weight: 700;
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-4 .u-list-1 {
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 294px;
  }

  .u-section-4 .u-image-1 {
    height: 171px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 171px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 325px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 325px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 6px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 6px;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before,
.u-section-4 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-image-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-4 .u-image-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-block-8f46-19:not([data-block-selected]):not([data-cell-selected]),
.u-block-8f46-19:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8f46-19:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-8f46-19:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #404040 !important;
}

.u-block-8f46-19:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-8f46-19:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #404040 !important;
}

.u-block-8f46-19:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}.container {
  width: 100%;
  background-color: #d6dfe2;
  height: 20%;
}
.skills_ArcGIS { width: 95%; background-color: #054a71; color: #054a71;}
.skills_QGIS {width: 85%; background-color: #054a71; color: #054a71;}
.skills_eCognition {width: 85%; background-color: #054a71; color: #054a71;}
.skills_Python {width: 80%; background-color: #054a71; color: #054a71;}
.skills_OL {width: 75%; background-color: #054a71; color: #054a71;}
.skills_SQL {width: 75%; background-color: #054a71; color: #054a71;}
.skills_English {width: 90%; background-color: #054a71; color: #054a71;}