 .u-section-1 {
  min-height: 556px;
}

.u-section-1 .u-shape-1 {
  height: 159px;
  background-image: none;
  margin-top: 198px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 340px;
  height: 340px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  background-image: url("images/MeCropped1.jpg");
  background-position: 50% 50%;
  margin: -347px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 19px 50px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 11px 50px 0;
}

.u-section-1 .u-btn-1 {
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  text-transform: uppercase;
  font-weight: bold;
  margin: 11px auto 10px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 558px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -106px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 583px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -279px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 615px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -432px;
  }
}