 .u-section-1 {
  min-height: 655px;
}

.u-section-1 .u-shape-1 {
  height: 159px;
  background-image: none;
  margin-top: 208px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 340px;
  height: 340px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  background-image: url("images/MeCropped1.jpg");
  background-position: 50% 50%;
  margin: -347px auto 0;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 238px;
  height: auto;
  margin: 7px auto 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 19px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  text-transform: uppercase;
  font-weight: bold;
  margin: 21px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 680px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 758px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 342px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 821px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 404px;
  }
}