 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 76px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}